	@import url("https://fonts.googleapis.com/css?family=Open+Sans");
	@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore");
	@import url("https://fonts.googleapis.com/css?family=Parisienne");
	
	html {
    position: relative;
    min-height: 100%;
}

	body, input, select, textarea {
		color: #7c8081;
		font-family: 'Lato', sans-serif;
		font-size: 10pt;
		font-weight: 100;
		letter-spacing: 0.025em;
		line-height: 1.75em;
	}
	
	#logo{
		 width:auto;
		 display:inline;
		 position:absolute;
		 margin:2vw 3vw;
		 z-index:1001;
		 font-family: 'Parisienne', cursive;
		 font-size: 3em;
		 float:left;
	}
	
	.sexy_line { 
    margin-bottom:1.5vw;
    height: 2px;
    background: eebc11;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #eebc11));
}

.btn-glyphicon {
    width:30px;
    height: 30px;
    line-height: 30px !important;
    text-align: center;
    background:#192A55;
    margin-right:4px;
}
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}
	
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background: url(images/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url(images/2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url(images/3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(4) {
    background: url(images/4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(5) {
    background: url(images/5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(6) {
    background: url(images/6.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(7) {
    background: url(images/7.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
	-webkit-filter: grayscale; /*sepia, hue-rotate, invert....*/
-webkit-filter: brightness(60%); 
}

body {
	/*padding-top: 70px;
	 Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	 color:white;
}

.navbar-nav > li > a {padding:5px 10px!important;color:white;}
.navbar-static-top {
	min-height:32px !important
}
	
.horizontal-list-ul{
	margin-top:1.0em;
	text-align: center;
	width:100%;
	border-top: 5px ridge #eebc11;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.68+9,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.68) 0%, rgba(0,0,0,0.68) 9%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.68) 0%,rgba(0,0,0,0.68) 9%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.68) 0%,rgba(0,0,0,0.68) 9%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}
.horizontal-list {
	background: white;
	display: inline-block !important; float: right !important;
	outline: 2px solid transparent;
	margin:0 2em;
	padding-top:.3em;
	background-color:rgba(255, 255, 255, 0.0);
	text-align: center;
	border: 0;
	transition: all 0.3s ease 0s;
	border-bottom: 3px ridge rgba(255, 255, 255, 0.0);
}
.navbar-nav > li > a:focus {
	background-color:rgba(255, 255, 255, 0.0) !important;
}
.horizontal-list:hover {
	background-color:rgba(0, 0, 0, 0.7);
	border-bottom: 2px solid #eebc11;
}

.navbar-header {
/*thin line, mobile?*/

}

.btn-nav:hover {
	background-color: transparent !important;
}

	@media screen and (max-width: 1024px) {
					#logo{
				margin-top:6vw;
		 }
	}

	@media screen and (max-width: 767px) {
	
		.horizontal-list-ul{
			margin-top:0em;
			width:50vw;
			float:right;
		}
		.horizontal-list {

			background: transparent;
			outline: 2px solid transparent;
			margin:0 1em 0 5em;
			display:block !important;
			clear: right !important;
			text-align: right;
			float:right !important;
			border: 0;
			transition: all 0.3s ease 0s;
		}
				#logo{
					margin-top:2vw;
						 z-index:1000;
						 width:50%;
				font-size:2em;
		 }
	}
	